@font-face {
 font-family: 'roboto';
 src:url('../roboto/roboto-webfont.eot');
 src:url('../roboto/roboto-webfont.eot') format('Roboto-webfont'),
  url('../roboto/roboto-thin-webfont.woff') format('woff'),
  url('../roboto/roboto-webfont.ttf') format('truetype'),
  url('../roboto/roboto-webfont.svg#gothic-webfont') format('svg');
 font-weight: normal;
 font-style: normal;
}

html {
	-webkit-font-smoothing: antialiased;
	}
	
body {
	margin: 0;
	padding: 0;
	border:0;
	font-family: 'roboto', sans-serif;
	fot-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation {
background: #fff;
position:fixed;
width: 100%;
z-index: 9999;
}

.top-navigation > .content {
width: 900px;
height: 100px;
margin:0 auto;
padding: 0px 15px;
}

.middle {
width: 900px;
height: 500px;
margin:0 auto;
padding: 0px 15px;

}

hr {
border:0;
border-top:1px solid #cccccc;
margin: 50 0;
	}
	
.logo {
	width:50px;
	height:70px;
	float:left;
	padding-top:15px;
	}
	
.logo img {
margin:0;
padding:0;

}
 
ul{
margin: 0;
}

.top-navigation .links {
float: right;
margin-top:40px;
font-family:'roboto', sans-serif;
font-size:16px;
-webkit-font-smoothing: antialiased;
}
 
.top-navigation .links li {
display: inline-block;
background-color: white;
text-align: center;
padding:0;
margin-left: 25px;
}

.top-navigation .links li a {
text-decoration:none;
color: #8d8e90;
font-weight: bold;
}

.top-navigation .links > .active a {
	color:#444444;
	font-weight:bold;
	}
.top-navigation .links li:hover {
	cursor: pointer;
	color:#333333;
	}

 .intro {
	 background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
	 background-repeat:no-repeat;
	 background-position:0 bottom;
	 background-size:cover;
	 width:100%;
	 height:600px;
	 margin:auto;
	 text-align:center;
	  color:#FFFFFF;
	  padding-right: 0px;
	 }

.content {
	padding-top:180px;
	}
	
.content h1{
	color: #ffffff;
	text-align: center;
	margin: 0px;
	font-size:50px;
	}

.content h3  {
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	font-size:26px;
	}
	
button {
	display:block;
	padding:20px 10px;
	background-color:#D14404;
	width:180px;
    text-align:center;
	border:0;
	margin: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border-style:none;
	font-size:18px;
}	

button a {
	color:white;
	text-decoration:none;
}

.middle > h2 {
		color: #1d1e21;
	text-align: center;
	margin: 100px 0px 50px 0px;
	font-size:50px;
	font-family:'Roboto', sans-serif;
	}

.middle .devices {
	display:block;
	margin: 0 auto;
	}
	
.middle .devices > li {
	float:left;
	width: 20%;
margin:0 5%;
text-align:center;
list-style-type:none;
color: #1d1e21;
font-size:30px;
}

	
.part_footer{
width: 900px;
height: 200px;
margin:0 auto;
padding: 0px 15px;
text-align:center;
	}	
	
	
.icons > li {
	display:inline-block;
	list-style-type:none;
	
	}	
	
ul {
	padding: 0;
	}	

	